body {
    background-color: darkseagreen;
}


#score {
    font-size: 30px;
    margin-left: 60px;
    float: left;
}

#timer {
font-size: 30px;
float: right;
margin-right: 100;
}

#sketch-to-be-drawn {
    text-decoration-color: darkblue;
}

#myCanvas{
    background-color: white;
    box-shadow: gainsboro 10px 10px 10px;
    border-radius: 20px ;
}

#score {
    margin-right: 5px;
}

#timer{
    margin-left: 5px;
}